
/*
  button {
    width: 100%;
    padding: 10px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  button:hover {
    background-color: #e30202;
  }

  p {
    color: red;
    font-size: 0.8em;
    margin-top: 5px;
  } */
