.spot-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    list-style: none;
    padding: 0;
    max-width: 1000px;
    margin: 0 auto;
  }

  .spot-item {
    /* border: 1px solid #ccc; */
    /* border-radius: 8px; */
    padding: 1rem;
    margin: 20px 10px 5px;
  }
  .spot-info {
    display: flex;
    justify-content: space-between;
  }

  .spot-rating {
    display: flex;
    align-items: center;
  }
  .section {
    border-bottom: 2px solid #000000;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  /* a:link {
    text-decoration: none;
  } */
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin: auto;
    padding: 20px;
    width: 500px;
    /* background-color: #f8f8f8; */
    border-radius: 8px;
  }

  label {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  input {
    margin-top: 5px;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .error {
    color: red;
  }
  /* .field-group {
    display: flex;
    justify-content: space-between;
  }

  .field-group input {
    flex: 1;
  } */
  .field-group {
    display: flex;
    align-items: center;
  }

  .field-group p {
    margin-bottom: 0;
  }

  .field-group-price {
    display: flex;
    align-items: center;
  }

  .field-group-price p {
    margin-right: 5px; 
    margin-bottom: 0;
  }
