.rating-input {
    display: flex;
    margin-right: 4px;
  }

  .review-item {
    display: flex;
  }

  .rating-input .filled {
    color: saddlebrown;
  }

  .rating-input .empty {
    color: burlywood;
  }


  /* .Yes-No-Button{

  } */
