/* form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin: auto;
    padding: 20px;
    width: 400px;
    background-color: #f8f8f8;
    border-radius: 8px;
  }

  h1 {
    text-align: center;
    color: #333;
  }

  label {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  input {
    margin-top: 5px;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  button {
    width: 100%;
    padding: 10px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  button:hover {
    background-color: #e30202;
  }

  p {
    color: red;
    font-size: 0.8em;
    margin-top: 5px;
  } */
