.hidden {
    display: none;
  }

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
    background: white;
    height: 60px;
    box-shadow: 0 4px 2px -2px rgba(37, 37, 37, 0.1);
  }

  .logo {
    max-width: 85px;
    height: auto;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  /* Add some styles to your search bar to center it vertically */
  .search-bar {
    flex-grow: 2;
    display: flex;
    justify-content: center;
  }

  .profile-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .prof-container{
    display: flex;
    align-items: center;
    gap: 10px;
  }
.prof {
  border-radius: 150px;
  height: 30px;
  width:80px;
}

.fa-solid fa-bars{
  padding: 10px;
}

.profile-container{
  position: relative;
  display: inline-block;
}

.profile-dropdown{
  left: 0;
  transform: translateX(-50%);
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;

  background-color: #f9f9f9;
  border-radius: 4px;
}
.nav-item-group {
  display: flex;
  gap: 1em;
  align-items: center;
}
/*
.header {
  height: 80px;
	padding: 0 24px;
	display: flex;
	align-items: center;
	box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 12px;
	justify-content: space-between;
	position: fixed;
	width: 100%;
}
  .logo {
    width: 32px;
    height: 32px;
  } */
/*
  nav {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: white;
    border-bottom: 2px solid rgb(186, 184, 184);
  }

  nav ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
    list-style-type: none;
  }

  nav ul li {
    margin-right: 10px;
  }

  nav ul li a {
    color: white;
    text-decoration: none;
  }

  nav ul li a.active {
    color: rgb(15, 15, 14);
  } */
