.hidden {
    display: none;
  }

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
    background: white;
    height: 60px;
    box-shadow: 0 4px 2px -2px rgba(37, 37, 37, 0.1);
  }

  .logo {
    max-width: 85px;
    height: auto;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  /* Add some styles to your search bar to center it vertically */
  .search-bar {
    flex-grow: 2;
    display: flex;
    justify-content: center;
  }

  .profile-container {
    display: flex;
    align-items: center;
    gap: 10px;

  }
  .prof-container{
    display: flex;
    align-items: center;
    gap: 10px;

  }
.prof {
  border-radius: 150px;
  height: 30px;
  width:80px;
}

.fa-solid fa-bars{
  padding: 10px;
}

.profile-container{
  position: relative;
  display: inline-block;

}

.profile-dropdown{
  left: 0;
  transform: translateX(-50%);
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;

  background-color: #f9f9f9;
  border-radius: 4px;
}
.nav-item-group {
  display: flex;
  gap: 1em;
  align-items: center;
}
.centered-button {
  display: flex;
  justify-content: center;
}
.logout-button {
  border-radius: 30%;
  background-color: grey;
  color:white;
}


/* every modal */
#modal-content{
  border-radius: 4%;
}
